body {
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-shadow: 2px 2px 10px #222;
  margin-top: 10vh;
  height: 95vh;
}
#Continer_Waves{
background-color: #3990f3;
  height: 10rem;
  width: 27%;
  margin-left:30rem;


}
.piano{
    margin-top :10px;
    margin-left :500px;

}
.white-key,
.black-key {
  display: inline-block;
}

.white-key {
  border: 1px solid #222;
  width: 5%;
  height: 12rem;
  cursor: pointer;
  background-color: #fff;
  margin-left : -1rem;

}
.white-key:hover {
  background-color: #f1f1f1;
  border: 5px inline #222;
}

.black-key {
  border: 1px solid #222;
  width: 2%;
  height: 7rem;
  position: absolute;
  /*margin-top: -2rem;*/
  margin-left: -2rem;
  background: #222;
  cursor: pointer;
}
.black-key:hover {
    background-color: #000;
    border: 5px inline #222;
  }
}
